<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--- Gracias a thymeleaf es que podemos usarla de plantilla para iterar los datos -->
<head>
    <meta charset="UTF-8">
    <title>Spring Framework</title>
</head>
<body>
<h1> Author List</h1>

<table>
    <tr>
        <th> ID </th>
        <th> First Name </th>
        <th> LastName </th>
    </tr>
    <tr th:each="Author : ${authors}">
        <td th:text ="${Author.id}"> 123 </td>
        <td th:text ="${Author.primerNombre}" > Spring in action </td>
        <td th:text ="${Author.primerApellido}" > Wrox </td>
    </tr>
</table>

</body>
</html>